body {
    background: #181E34;
    font-family: "Montserrat", "Arial", sans-serif;

    line-height: 150%;
    color: #fff;

}

.container {
    max-width: 930px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

/*=====================================================================*/

.header {
    padding: 30px 0px 36px;
}

.header-inner {
    display: flex;
    align-items: center;

}

.header-nav {
    margin-left: auto;
}

.header-list {
    display: flex;
}

.header-item {
    margin-right: 30px;

}

.header-buttom {
    background: #fff;
    color: #2766AE;
    border-radius: 100px;
    padding: 14px 30px;
    font-weight: 500px;

}

/*========================================*/

.hero {
    background: url("../img/hero.jpeg") 0 0/ cover no-repeat;
    height: 508px;
    padding: 120px 0px;
}

.hero-title {
    font-size: 40px;
    font-weight: 600;
    line-height: 49px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 60px;
}

.hero-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-text {
    max-width: 346px;
}

.hero-text span {
    color: rgb(1, 162, 203);
    text-transform: uppercase;
    font-weight: 700;

}

.paragraph {
    margin-bottom: 15px;
}

.hero-buttons {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    width: 100%;
    text-align: center;
}

.hero-button-one,
.hero-button-two {
    border-radius: 100px;
    padding: 18px 30px;
    margin: 10px 0px;
    display: flex;
    justify-content: center;

}

.hero-button-one,
.hero-button-two img {
    margin-left: 4px;
}

.hero-button-one {
    background: linear-gradient(180.00deg, rgb(0, 164, 204), rgb(39, 102, 174) 100%);

}

.hero-button-two {
    background: linear-gradient(129.14deg, rgb(0, 164, 204) 5.913%, rgb(39, 102, 174) 91.534%);

}

/*=========================================================*/

.cards {
    padding: 120px 0px;
}

.cards-title {
    font-size: 40px;
    font-weight: 600;
    line-height: 49px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 15px;
}

.cards-text {
    text-align: center;
    max-width: 513px;
    margin: 0px auto 60px;
}

.cards-flex {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -28px;
    padding-bottom: 30px;
}

.cards-flex-item {
    margin-bottom: 28px;
    padding: 0px 14px;
    flex: 0 0 25%;
}

.cars-flex-inner{
    border: 2px solid rgb(23, 107, 174);
    border-radius: 16px;
    box-shadow: 4px 4px 13px 0px rgba(5, 13, 41, 0.76);
    background: rgb(25, 124, 184);
    padding: 28px 15px;
}

.cards-flex-title {
font-size: 22px;
font-weight: 600;
line-height: 27px;
letter-spacing: 0%;
text-align: left;
text-transform: uppercase;
margin-bottom: 10px;
text-align: center;
}

.cards-flex-text{
    text-align: center;
}

.cards-button {
    display: block;
    border-radius: 100px;
    padding: 18px 30px;
    background: linear-gradient(180.00deg, rgb(0, 164, 204), rgb(39, 102, 174) 100%);
    text-align: center;
    max-width: 436px;
    margin: 0 auto;
}

/*===========================================================*/

footer{
    border-top: 1px solid #323952;
    padding: 60px 0px;

}

.fotter-inner {
    display: flex;

}

.footer-desc{
    max-width: 267px;
    margin-right: auto;
}

.footer-desc img{
    margin-bottom: 15px;
}

.footer-title{
font-size: 22px;
font-weight: 600;
line-height: 27px;
text-transform: uppercase;
margin-bottom: 20px;
}

.footer-item{
    margin-bottom: 10px;
}

.footer-col{
    max-width: 240px;
    width: 100%;
}

.footer-col-margin{
margin-right: 28px;
}