* {
    box-sizing: border-box;
}

.block1 {
    height: 600px;
    width: 100%;
    background: #c0b083;
    margin: 5px;
    overflow: auto;
    border: 1px solid #000;
    border-radius: 30px 0px 0px 30px;

}

.block2 {
    height: 230px;
    width: 350px;
    background: #947215;
    padding: 30px 15px 15px 15px;
    border: 1px solid #000;
    border-radius: 30px;
    margin: 10px;
    display: inline-block;
    box-shadow: inset 1px 5px 5px #363434,1px 5px 5px #363434;
    }
    

.block2 p {
    font-size: 20px;
}